<app-navbar></app-navbar>
<div class="container p-2">
  <h1 class="display-4" [innerHtml]= "article.title | safeHtml" ></h1>
  <p class="fs-6 fst-italic" [innerHtml]= "article.subtitle | safeHtml"> </p>
  <p class="fs-6 text-uppercase text-secondary" [innerHtml]= "article.category | safeHtml"></p>
  <div class="mb-4">
    <img
      [src]="getImageUrl(article.image_data, article.image_media_type)"
      alt=""
      class="img-fluid"
    />
  </div>
  <p class="fs-6" [innerHtml]= "article.abstract | safeHtml"></p>
  <p  [innerHtml]= "article.body | safeHtml"></p>

  <p class="fst-italic text-danger">Last modified by {{article.id_user}} at {{article.update_date}}</p>
  <button class="btn btn-primary" (click)="goBack()">Back</button>
</div>
