<div>
  <p *ngIf="this.loginservice.isLogged(); else loggedOut" > Hello, {{this.user.username}}!</p>
  <ng-template #loggedOut>
  <form #loginform="ngForm">

    <label>User</label>

    <input type="text" 
    class="form-control" 
    required [(ngModel)]="user.username" 
    name="username" 
    >

    <label>Password</label>

    <input type="text" 
    class="form-control" 
    required [(ngModel)]="user.password" 
    name="password" 
    >

    <button 
    class="btn btn-primary"
    (click)="logg()"
    >
    Log in
  </button>
  </form>
</ng-template>
</div>
<div>
  <button 
  *ngIf="this.loginservice.isLogged()" 
  class="btn btn-primary"
  (click)="this.loginservice.logout()"
  
  >Sign out</button>
</div>
