<app-navbar></app-navbar>

<div class="container p-2">
<h3 *ngIf="this.editmode; else createmode"> Edit article </h3>

<ng-template #createmode>
    <h3> Create a new article </h3>
</ng-template>

<form #articleform="ngForm">

<!-- example of bootstrap card working: <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Example content lalalakjdsmkxmkasxl</p>
    <a href="#" class="btn btn-primary">Clicketi kooo</a>
</div> -->

<div class="card-body col-sm-6">
<label>
    Title
    <input  
    type="text"
    class="form-control" 
    required [(ngModel)]="article.title" 
    name="articletitle" 
    #articletitle="ngModel"
    [ngClass]="articletitle.valid || articletitle.pristine ? '': 'bg-danger'"
    pattern="[\sA-Za-z0-9._%&+-]{10,50}$"
    >
</label>

<div class="alert alert-danger" *ngIf="articletitle.touched && !articletitle.valid">
    <div *ngIf="articletitle.errors && articletitle.errors['required']">Title is required.</div>
    <div *ngIf="articletitle.errors && articletitle.errors['pattern']">Title does not match the requirements.</div>
</div>

<br>

<label>
    Subtitle 
    <input  
    type="text" 
    class="form-control" 
    required [(ngModel)]="article.subtitle" 
    name="articlesubtitle" 
    #articlesubtitle="ngModel"
    [ngClass]="articlesubtitle.valid || articlesubtitle.pristine ? '': 'bg-danger'"
    pattern="[\sA-Za-z0-9._%&+-]{10,50}$">
    
    <div class="alert alert-danger" *ngIf="articlesubtitle.touched && !articlesubtitle.valid">
        <div *ngIf="articlesubtitle.errors && articlesubtitle.errors['required']">Subtitle is required.</div>
        <div *ngIf="articlesubtitle.errors && articlesubtitle.errors['pattern']">Subtitle does not match the required pattern.</div>
    </div>
</label>


<br>

<label>
    Abstract 
    <input  
    type="text" 
    class="form-control" 
    required [(ngModel)]="article.abstract" 
    name="articleabstract" 
    #articleabstract="ngModel"
    [ngClass]="articleabstract.valid || articleabstract.pristine ? '': 'bg-danger' "
    pattern="[\sA-Za-z0-9._%&+-]{10,50}$">
</label>

<div class="alert alert-danger" *ngIf="articleabstract.touched && !articleabstract.valid">
    <div *ngIf="articleabstract.errors && articleabstract.errors['required']">Abstract is required.</div>
    <div *ngIf="articleabstract.errors && articleabstract.errors['pattern']">Abstract does not match the required pattern.</div>
</div>

<br>

<label>
    Category 
    <select 
            class="form-control"
            required [(ngModel)]="article.category" 
            name="articlecategory" 
            #articlecategory="ngModel"
            [ngClass]="articlecategory.valid || articlecategory.pristine ? '': 'bg-danger' "> 
            
        <option value="National" selected>National</option> 
        <option value="Economy">Economy</option> 
        <option value="Sports">Sports</option> 
        <option value="Technology">Technology</option> 
    </select>

</label>

<div class="alert alert-danger" *ngIf="articlecategory.touched && !articlecategory.valid">
    <div *ngIf="articlecategory.errors && articlecategory.errors['required']">Please choose an article category.</div>
</div>

<br>

<label>
    Body
    <br> 
    <textarea  
    name="articlebody" 
    cols="40" 
    rows="10" 
    class="form-control" 
    required [(ngModel)]="article.body"
    #articlebody="ngModel"
    [ngClass]="articlebody.valid || articlebody.pristine ? '': 'bg-danger' "
    >
    </textarea>
</label>
<br>  

</div>

    <div class="uploadform">
      <label for="fileUpload">Upload an image here:</label>
      <br>

      <input type="file" id="fileUpload" (change)="fileChangeEvent($event)" accept="image/jpeg, image/png" class="form-control-file">
    </div>
    <br>
    <img [src]="cardImageBase64" alt="Preview" *ngIf="isImageSaved" class="preview-image" />
    <br>

<button 
*ngIf="this.editmode; else createbutton"
class="btn btn-primary"
type="submit" 
(click) = "update()"
[disabled]="!articleform.form.valid">
Update article
</button>


<ng-template #createbutton>
<button 
class="btn btn-primary"
type="submit" 
(click) = "create()"
[disabled]="!articleform.form.valid">
Create new article
</button>
</ng-template>

<button
[routerLink]="['/newslist/']"
style="margin-left:10px" 
class="btn btn-outline-danger">
Go back
</button>

<br>

</form>

</div>

<!-- <div class="preview">

    <h3>Article preview</h3>

    <br>

    <p>Title:</p>
    <h2>{{article.title}}</h2>

    <p>Subtitle:</p>
    <h5>{{article.subtitle}}</h5>

    <p>Abstract:</p>
    <h6>{{article.abstract}}</h6>

    <p>Category:</p>
    <h6>{{article.category}}</h6>

    <p>Body:</p>
    <p>{{article.body}}</p>

</div>
 -->