<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">EIT Newspaper</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse flex-grow-0" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" (click)="selectCategory('national')">National</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="selectCategory('economy')">Economy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="selectCategory('sports')">Sports</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="selectCategory('technology')"
            >Technology</a
          >
        </li>
      </ul>
    </div>
    <form class="align-self-center d-flex">
      <input
        class="form-control me-2"
        type="search"
        [(ngModel)]="busqueda"
        name="barraBusqueda"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-secondary" type="submit">Search</button>
    </form>
    <app-login class="mb-2"></app-login>
  </div>
</nav>

<div *ngIf="this.loginservice.isLogged()">
<button class="btn btn-primary m-2" [routerLink]="['/editarticle/']" >Create new article</button>
</div>

<!-- antes de añadir navegación-->
<div class="container">
  <div class="overflow-hidden">
  <ul class="menu-articles row row-cols-lg-3 row-cols-md-1 row-cols-sm-1 row-cols-xs-1 p-0 g-2">
    <div class=" col p-2" 
      *ngFor="
        let article of newsList
          | category : selectedCategory
          | buscar : busqueda
      "
    >
    <div class="cardBody card text-center bg-light border-dark">
      <!--let article of newslist -->
      <h5 class="card-title mt-2" [innerHtml]= "article.title | safeHtml"></h5>
      <h6 class="card-subtitle mb-2 text-muted" [innerHtml]= "article.subtitle | safeHtml"></h6>
      <!-- <img [src]="article.image_data" alt="Image_data?" /> -->
      <img
        [src]="getImageUrl()"
        alt=""
        class="img-fluid"
      />
      <p class="card-text" [innerHtml]= "article.abstract | safeHtml"></p>
      <button class="btn btn-primary m-2" (click)="verNew(article.id)">Read</button>
      <p class="card-text"><small class="text-muted fst-italic">Last updated 3 mins ago by: La llorona</small></p>
      <div class="card-footer p-2">{{ article.category }}</div>
    </div>
      <!-- Add buttons for edit, remove in each article | create  in main page -->
      <div *ngIf="this.loginservice.isLogged()">
        <button class="btn btn-primary"
        [routerLink]="['/editarticle/']"
        [queryParams]="{ 'p1': article.id}">Edit</button>
        <button (click)="remove(article)" class="btn btn-primary">Remove</button>
      </div>
    </div>
  </ul>
  </div>
</div>
