<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">EIT Newspaper</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse flex-grow-0" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" (click)="selectCategory('national')">National</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="selectCategory('economy')">Economy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="selectCategory('sports')">Sports</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="selectCategory('technology')"
            >Technology</a
          >
        </li>
      </ul>
    </div>
    <form class="align-self-center d-flex">
      <input
        class="form-control me-2"
        type="search"
        [(ngModel)]="busqueda"
        name="barraBusqueda"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-secondary" type="submit">Search</button>
    </form>
    <app-login class="mb-2"></app-login>
  </div>
</nav>

<!-- antes de añadir navegación-->
<div class="container-fluid">
  <ul class="menu-articles">
    <li
      *ngFor="
        let article of newsList
          | category : selectedCategory
          | buscar : busqueda
      "
    >
      <!--let article of newslist -->
      <label>{{ article.title }}</label>
      <label>{{ article.subtitle }}</label>
      <img
        [src]="getImageUrl(article.image_data, article.image_media_type)"
        alt=""
        class="img-fluid"
      />
      <button class="btn btn-primary" (click)="verNew(article.id)">Read</button>

      <!-- Add buttons for edit, remove in each article | create  in main page -->
      <div *ngIf="this.loginservice.isLogged()">
        <button>Edit</button>
        <button (click)="remove(article)">Remove</button>
      </div>
    </li>
  </ul>
</div>
